*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
}

.page-header{
	display: flex;
	color: #f3f9ff;
	padding: 2.2% 4%;
	justify-content: space-between;
	background-image: url("../compressed_page_assets/about us/about_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	align-items: center;
}

.website-brand{
	color: #f3f9ff;
	flex-basis: 50%;
	display: flex;
}

.toggle-menu{
	display: none;
	background-color: transparent;
	border: 0;
	padding: 0 2%;
}

.toggle-menu span{
	display: block;
	background-color: #f3f9ff;
	height: 2px;
}

.toggle-menu span:nth-child(1){
	width: 15px;	
}

.toggle-menu span:nth-child(2){
	width: 25px;
	margin-top: 4px;
}

.toggle-menu span:nth-child(3){
	width: 20px;
	margin-top: 4px;
}

.website-logo{
	display: flex;
	flex-basis: 80%;
}

.website-logo h1{
	font-size: 1.3em;
	padding-right: 2.5%;
	font-weight: lighter;
	line-height: 0.8em;
}

.website-logo span{
	font-size: 0.6em;
	border-left: solid 2px white;
	line-height: 1em;
	width: 100%;
	padding-left: 1.2%;
}

.home-link{
	text-decoration: none;
	color: #f3f9ff;
}

.phone{
	flex-basis: 20%;
}

.phone i{
	color: #e1c653;
	transform: rotate(90deg);
}

.phone span{
	color: #f3f9ff;
	font-size: 0.8em;
}

.content{
	display: flex;
}

.sidenav{
	background-color: #fbfbfb;
	border-right: solid 2px #efefef;
	flex-basis: 200px;
	padding-top: 5%;
	position: relative;
}

.sidenav > a{
	color: #585858;
	margin-top: 7%;
	display: block;
	width: 75%;
	float: right;
	padding-bottom: 3%;
	font-size: 0.9em;
	text-decoration: none;
}

.sidenav > a:first-child{
	color:#3d5a76;	
}

.social-media{
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-bottom: 24%;
	border-top: 0;
}

.social-media a{
	color: #cccccc;
	margin: 0 6%;
}

.sidenav > a:first-child{
	border-bottom: solid 3px #e1c653;
	font-weight: bold;
}

.mobile-menu{
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	color:#3d5a76;
	z-index: 2;
	width: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s;
	display: none;
}

.mobile-menu a{
	text-decoration: none;
	color:#3d5a76;
	margin-top: 5%;
}

.mobile-social-media{
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	padding-bottom: 5%;
}

.mobile-social-media a{
	color: #cccccc;
	margin: 0 1.5%;
}

.close-nav{
	color:#3d5a76;
	background-color: transparent;
	border: 0;
	align-self: flex-start;
	font-family: Arial,'san-serif';
	margin-top: 3%;
	margin-left: 5%;
	font-weight: bold;
	font-size: 1.5em;
}

.main-content{
	flex-basis: 85%;
}

.main-content section{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	padding-bottom: 7%;
}

.main-content section:not(.work){
	border-bottom: solid 1px #efefef;
}

.separator{
	background-color: #e1c653;
	width: 50px;
	border: solid 2px #e1c653;
	margin-top: 1%;
}

.main-content h2{
	color:#3d5a76;
	font-weight: lighter;
}

.mission-group{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.mission-group div{
	flex-basis: 50%;
	flex-grow: 1;
	display: flex;
	margin-top: 7%;
}

.mission-group img{
	align-self: center;
}

.mission-group span{
	font-size: 0.8em;
	line-height: 2em;
	padding-left: 4%;
	width: 80%;
	text-align: left;
	color: #585858;
}

.task-text{
	margin-top: 5%;
	color: #585858;
	text-align: left;
	width: 73%;
	font-size: 0.8em;
	line-height: 2em;
}

.subheading{
	color: #585858;
	font-size: 0.8em;
	margin-top: 5%;
}

.work-icons{
	display: flex;
	width: 100%;
	border: solid 1px #efefef;
	margin-top: 6%;
}

.work-icons div{
	flex-basis: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 0;
}

.work-icons div:not(:last-child){
	border-right: solid 1px #efefef;
}

.work-icons span{
	color: #585858;
	font-size: 0.8em;
	margin-left: 4%;
	font-weight: bold;
}

.main-content > .contact-us{
	width: 100%;
	border-top: solid 1px #efefef;
	margin-top: 3%;
	padding-bottom: 0;
	position: relative;
}

.contact-us > h2, .contact-us > hr{
	display: none;
}

.contact-info{
	display: flex;
	width: 80%;
	margin: 5% auto;
	align-items: flex-start;
	justify-content: space-around;
}

.contact-info > div{
	flex-basis: 30%;
	height: 100%;
	font-size: 0.8em;
	display: flex;
}

.contact-info i{
	color: #e1c653;
}

.contact-info span{
	line-height: 2em;
}

.contact-info span:nth-child(even){
	padding-left: 3%;
}

.phone-email{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.top-link{
	background-color: #d1d1d1;
	padding: 1.3% 1.8%;
	position: absolute;
	top: 35%;
	right: 5%;
}

.top-link i{
	color: white;
}

footer{
	color: #aaaaaa;
	text-align: center;
	font-size: 0.6em;
	padding: 1.5% 0;
}




/*-----------Media Queries------------*/

@media screen and (min-width: 769px) and (max-width: 1024px){

	.phone{
		flex-basis: 25%;
	}

	.mission-group div{
		flex-basis: 100%;
		flex-grow: 1;
		margin-top: 8%;
	}

	.task-text{
		width: 85%;
	}

	.main-content > .contact-us{
		width: 100%;
	}

	.contact-info{
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.contact-info > div{
		width: 100%;
	}

	.contact-info > div > span:nth-child(even){
		padding-left: 5%;
	}

	.top-link{
		top: 75%;
	}

	.meeting-hours,.address,.phone-number,.email{
		padding-top: 4%;
	}

}

@media screen and (max-width: 768px){
	.page-header{
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.website-brand{
		flex-basis: 100%;
	}

	.website-logo{
		padding-left: 4%;
		flex-basis: 100%;
	}

	.website-logo h1{
		padding-right: 3%;
	}

	.website-logo span{
		flex-basis: 100%;
	}

	.sidenav{
		display: none;
	}

	.toggle-menu{
		display: block;
	}

	.phone{
		display: none;
	}

	.main-content{
		flex-basis: 100%;
	}

	.main-content h2{
		font-size: 1.1em;
	}

	.top-link{
		display: none;
	}

	.main-content > .contact-us{
		width: 100%;
		padding-top: 7%;
	}

	.contact-info{
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		margin-top: 3%;
	}

	.contact-info > div{
		width: 100%;
	}

	.contact-info > div > span:nth-child(even){
		padding-left: 5%;
	}

	.meeting-hours,.address,.phone-number,.email{
		padding-top: 4%;
	}

	.contact-us > h2,.contact-us > hr{
		display: block;
		margin-left: 10%;
	}

}


@media screen and (min-width: 635px) and (max-width: 768px){

	.main-content section{
		width: 85%;
	}

	.mission-two, .mission-four{
		justify-content: flex-end;
	}

	.mission-group img{
		align-self: flex-start;
	}

	.mission-group span{
		width: 70%;
	}

	.task-text{
		width: 80%;
	}

	footer{
		padding: 2.5% 0;
	}
}

@media screen and (max-width: 634px){

	.mobile-social-media{
		border-top: none;
	}

	.main-content section{
		margin-top: 15%;
		padding-bottom: 0;
		width: 90%;
	}

	.main-content section:not(.work){
		border-bottom: none;
	}

	.mission-group div{
		flex-basis: 100%;
		flex-grow: 1;
		margin-top: 8%;
	}

	.mission-group span{
		flex-basis: 90%; 
		font-size: 0.7em;
	}

	.task-text{
		width: 90%;
		text-align: justify;
		font-size: 0.7em;
	}

	.work-icons{
		flex-direction: column;
	}

	.subheading{
		font-size: 0.7em;
	}

	.work-icons{
		margin-top: 8%;
	}

	.work-icons div{
		width: 100%;
		justify-content: flex-start;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 6%;
	}

	.work-icons div:not(:last-child){
		border-right: none;
		border-bottom: solid 1px #efefef;
	}

	.work-icons span{
		font-size: 0.7em;
		font-weight: lighter;
	}

	.main-content > .contact-us{
		border-top: none;
		width: 90%;
		margin-left: 0;
		padding-bottom: 8%;
		margin-top: 10%;
	}

	.contact-us > h2,.contact-us > hr{
		display: block;
	}

	footer{
		border-top: solid 1px #efefef;
		padding: 4% 0;
	}
}